.popUp-enter{
  transform: translateY(100%);
}
.popUp-enter-active{
  transform: translateY(0);
  transition: transform 300ms;
}

.popUp-exit{
  transform: translateY(0);
}
.popUp-exit-active{
  transform: translateY(100%);
  transition: transform 300ms;
}

.popUp{
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  bottom:0;
}








.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-exit-active,
.fade-enter-active{
  transition: opacity 500ms ease-in;
}

.xxx-enter{
  transform: translateX(100%);
}
.xxx-exit{
  transform: translateX(0);
}
.xxx-enter-active{
  transform: translateX(0);
}
.xxx-exit-active{
  transform: translateX(-100%);
}
.xxx-enter-active,
.xxx-exit-active{
  transition: transform 500ms;
}
