.popUp-enter{
  transform: translateY(0);
}
.popUp-enter-active{
  transform: translateY(-100%);
  transition: transform 300ms;
}
.popUp-enter-done{
  transform: translateY(-100%);
}
.popUp-exit{
  transform: translateY(-100%);
}
.popUp-exit-active{
  transform: translateY(0);
  transition: transform 300ms;
}
.popUp-exit-done{
  transform: translateY(0);

}
.popUp{
  position: absolute;
  left: 0;
  top:100%
}