.move-enter{
  transform: translateY(0);
}
.move-enter-active{
  transform: translateY(-100%);
  transition: transform 300ms;
}
.move-enter-done{
  transform: translateY(-100%);
}
.move-exit{
  transform: translateY(-100%);
}
.move-exit-active{
  transform: translateY(0);
  transition: transform 300ms;
}
.move-exit-done{
  transform: translateY(0);

}

.defaultPos{
  position: absolute;
  left: 0;
  top:100%
}